.formInputFieldBackground {

    background-color: #E1FFFF;

}

.authFormCardBackground {

    background-color: #008F9D;

}

.authSubmitButtonBackground {

    background-color: #63F5EC;

}

.authNormalButtonBackground {

    background-color: #FFCEA5;

}

.signInWithGoogleButtonBackground {

    background-color: #E27127;

}


