/* .container-fluid {
    width: 100%;
} */

.no-padding {
    padding: 0 !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

ul.dropdown-menu {
    background-color: lightgrey;
}


.banner-bg-color {
    background-color: #3fe8fb;
}

.banner-logo {
    width: 149px;
    height: 67px;
}

.navbar-bg-color {
    background-color: #69f1ff;
}

.main-bg-color {
    background-color: #82effb;
}

.hero-bg-color {

    background-color: #00A9C2;
}

.contact-info-bg-color {
    background-color: #95B0B4;
}

.formInputFieldBackground {

    background-color: #E1FFFF;

}

.form-control:focus {
    background-color: #a3ebeb;
}

.authFormCardBackground {

    background-color: #5eebfa;
    /* background-color: #008F9D; */

}

.btn-primary {
    color: #00433F;
    background-color: #63F5EC;
    border-color: #63F5EC;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #2F4858;
    background-color: #00D7FA;
    border-color: #00D7FA;
}

.btn-primary.active,
.btn-primary:active:hover,
.btn-primary:active:active {
    color: #4d5143;
    background-color: #05B4FC;
    border-color: #05B4FC;
}

/* background-color: #FFCEA5; NormalButtonColor
background-color: #E27127; GoogleButtonColor */

.btn-secondary {
    border-color: #eba865;
    background-color: #eba865;
}

.btn-secondary:hover,
.btn-secondary:focus {
    border-color: #c18f5e;
    background-color: #c18f5e;
}

.btn-secondary:active,
.btn-secondary:active:hover,
.btn-secondary:active:active {
    border-color: #c86c10;
    background-color: #c86c10;
}


.btn-warning {
    border-color: #F9F871;
    background-color: #F9F871;
}

.btn-warning:hover {
    border-color: #FFE171;
    background-color: #FFE171;
}

.btn-warning:active,
.btn-warning:active:hover,
.btn-warning:active:active {
    border-color: #FFCA80;
    background-color: #FFCA80;
}

.btn-danger {
    border-color: #A43E00;
    background-color: #A43E00;
}

.btn-danger:hover,
.btn-danger:focus {
    border-color: #782e00;
    background-color: #782e00;
}

.btn-danger:active,
.btn-danger:active:hover,
.btn-danger:active:active {
    border-color: #502206;
    background-color: #502206;
}

