ul.dropdown-menu {
    background-color: lightgrey;
}


.banner-bg-color {
    background-color: #3fe8fb;
}

.banner-logo {
    width: 149px;
    height: 67px;
}

.navbar-bg-color {
    background-color: #69f1ff;
}

.main-bg-color {
    background-color: #82effb;
}

.formInputFieldBackground {

    background-color: #E1FFFF;

}

.form-control:focus {
    background-color: #a3ebeb;
}

.authFormCardBackground {

    background-color: #5eebfa;
    /* background-color: #008F9D; */

}

.btn-primary {
    color: #00433F;
    background-color: #63F5EC;
    border-color: #63F5EC;
}

.btn-primary:hover {
    color: #2F4858;
    background-color: #00D7FA;
    border-color: #00D7FA;
}

.btn-primary.active,
.btn-primary:active:hover,
.btn-primary:active:active {
    color: #4d5143;
    background-color: #05B4FC;
    border-color: #05B4FC;
}

/* TODO: Remove the commented lines */
/* .authNormalButtonBackground {

    background-color: #FFCEA5;

} */

/* .signInWithGoogleButtonBackground {

    background-color: #E27127;

} */

.btn-secondary {
    border-color: #eba865;
    background-color: #eba865;
}

.btn-secondary:hover {
    border-color: #c18f5e;
    background-color: #c18f5e;
}

.btn-secondary:active,
.btn-secondary:active:hover,
.btn-secondary:active:active {
    border-color: #c86c10;
    background-color: #c86c10;
}


.btn-warning {
    border-color: #F9F871;
    background-color: #F9F871;
}

.btn-warning:hover {
    border-color: #FFE171;
    background-color: #FFE171;
}

.btn-warning:active,
.btn-warning:active:hover,
.btn-warning:active:active {
    border-color: #FFCA80;
    background-color: #FFCA80;
}


